@use '../utils/variables' as *;

.article {
  @media (min-width: $page_width_medium) {
    display: grid;
    grid-template-columns: $columns_medium;
    gap: $gap_medium;
    justify-content: center;
  }

  @media (min-width: $page_width_large) {
    grid-template-columns: $columns_large;
    gap: $gap_medium;
  }

  &__title {
    margin-bottom: $margin_small;
    text-align: left;

    @media (min-width: $page_width_medium) {
      grid-column: span 3;
    }

    @media (min-width: $page_width_large) {
      grid-column: span 5;
    }
  }

  &__content {
    @media (min-width: $page_width_medium) {
      grid-column: 4 / -1;
    }

    @media (min-width: $page_width_large) {
      grid-column: 7 / -1;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 16px;
    color: $main_color;
  }

  &__text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 170%;
    margin-top: 40px;
    color: $main_color;
    max-width: 450px;
  }
}


