@use '../utils/variables' as *;

.categories {
  margin-bottom: 96px;
  margin-top: 96px;

  @media (min-width: $page_width_medium) {
    margin-bottom: 120px;
    margin-top: 120px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 48px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    @media (min-width: $page_width_medium) {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      gap: 24px;
      justify-content: center;
    }

    @media (min-width: $page_width_large) {
      grid-template-columns: repeat(12, 63px);
      gap: 24px;
    }
  }

  &__item {
    width: 100%;
    max-width: 280px;

    @media (min-width: $page_width_medium) {
      max-width: none;
      grid-column: 1 / -1;
    }

    @media (min-width: $page_width_large) {
      grid-column: 1 / -1;
    }
  }
}

.category-card {
  &__link {
    text-decoration: none;
    display: block;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;

    @media (min-width: $page_width_medium) {
      grid-template-columns: 2fr 1fr;
      gap: 24px;

      .categories__item:nth-child(even) & {
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  &__image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: block;
    transition: transform 300ms ease;

    @media (min-width: $page_width_medium) {
      width: 100%;
      height: 200px;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 16px;
    color: #292929;
    @media (min-width: $page_width_medium) {
      font-size: 24px;
    }

    @media (min-width: $page_width_large) {
      font-size: 24px;
    }
  }
}
