.header {
  // background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 20px 40px;
  background-image: url(../../../src/images/photos/Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wave {
    color: rgba(41, 41, 41, 1);
    width: 48px;
    height: 58px;
    margin-bottom: 16px;
  }
}
