@use '../utils/variables' as *;

.header {
  min-height: 100vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px 40px;
  background-image: url(../../../src/images/photos/Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wave {
    color: rgba(41, 41, 41, 1);
    width: 48px;
    height: 58px;
    margin-bottom: 16px;

    @media (min-width: $page_width_medium) {
      margin-bottom: 40px;
      width: 63px;
      height: 76px;
    }

    @media (min-width: $page_width_large) {
      margin-bottom: 32px;
      width: 63px;
      height: 76px;
    }
  }
}
