@use '../utils/variables' as *;

.main {
  padding: 64px 20px 0;
}

.products {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $page_width_large) {
      flex-direction: row;
      justify-content: center;
      align-self: center;
      gap: $gap_medium;
    }
  }

  &__item {
    margin-bottom: 40px;

    @media (min-width: $page_width_large) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-card {
  &__image {
    height: 280px;
    width: 280px;
    margin-bottom: 32px;
    transition: $trans_values;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $page_width_medium) {
      height: 100%;
      width: 100%;
    }

    @media (min-width: $page_width_large) {
      height: 324px;
      width: 324px;
    }
  }

  &__name {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: $main_color;
  }

  &__category {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $main_color;
    margin-top: 7px;
    margin-bottom: 12px;
  }

  &__price {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: $main_color;
  }

  &__price--no-margin {
    margin-bottom: 0;
  }
}
