@use '../utils/variables' as *;

.main {
  padding: 64px 20px 0;
}

.products {
  &__title {
    margin-bottom: 40px;
    @media (min-width: $page_width_medium) {
      font-size: 40px;
    }

    @media (min-width: $page_width_large) {
      font-size: 48px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-card {
  &__image {
    height: 280px;
    width: 280px;
    margin-bottom: 32px;
  }

  &__name {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #292929;
  }

  &__category {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #292929;
    margin-top: 7px;
    margin-bottom: 12px;
  }

  &__price {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #292929;
  }

  &__price--no-margin {
    margin-bottom: 0;
  }
}
