@use '../utils/variables' as *;

.title {
  font-family: Inter, sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -1.5px;
  color: #292929;

  @media (min-width: $page_width_medium) {
    font-size: 48px;
  }

  @media (min-width: $page_width_large) {
    font-size: 48px;
  }
  &--secondary {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #292929;
    margin-bottom: 48px;

    @media (min-width: $page_width_medium) {
    font-size: 48px;
    margin-bottom: 64px;
  }

  @media (min-width: $page_width_large) {
    font-size: 48px;
    margin-bottom: 64px;
  }
  }
}
