@mixin form-styles {
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 14px 20px;
  font-family: Inter, sans-serif;
  outline: none;
  transition: border-color 0.3s ease;

  &::placeholder {
    color: #7e7e83;
    font-size: 14px;
  }

  &:hover {
    border-color: rgba(213, 215, 222, 1);
  }

  &:focus {
    border-color: rgba(41, 41, 41, 1);
  }
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
