$main_color: #292929;
$page_width_medium: 744px;
$page_width_large: 1260px;
$trans_values: all 300ms ease-in-out;
$columns_small: repeat(2, 130px);
$columns_medium: repeat(6, 80px);
$columns_large: repeat(12, 63px);
$gap_small: 20px;
$gap_medium: 24px;
$margin_small: 32px;
$margin_medium: 64px;
$margin_large: 120px;
